.addVacantion{
        width: 100%;
        height: 50rem;
        background: url('https://media.cntraveler.com/photos/5f91a2a6f5bb0282129729a7/16:9/w_2560,c_limit/HolidayIsleTikiBar-IslamoradaFlorida-2020-2.jpg');
        background-position: center;
        background-size: cover;
        border-radius: 5px;
        padding-top: 4rem;
}

.addVacantion-header{
   color: white;
}

.AddForm {
    display:flex;
    flex-direction: column;
    justify-content:center; 
    width: 500px;
    margin: 4rem auto;
    border-radius:6px; 

    background-color:#02112b;
    opacity: 0.9; 
    padding:3vw
}
.AddForm input{

border: 2px solid white;
border-radius: 3px;
margin: 4px 0 20px;
}

.AddForm input:focus{
    outline: 2px solid white; 
  }


.AddForm label{
color: white;
text-align: left;
}


.buttonadditem{
    width: 100px;
    padding: 5px 10px;
    margin: 2rem 0 0 auto;
    background-color: transparent;
    border: 1px solid white;
    color:white;
    border-radius: 5px
    
   
}

.buttonadditem:hover{
    color: white;
    background-color:#308EFD;
    cursor: pointer;
}

.errorMessage{
    font-weight: 500;
    color: red;
    margin: 20px 0;
  }
  